"*":
  "atom-beautify":
    json:
      indent_size: 2
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "background-tips"
      "linter-pycodestyle"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      ".*.un~"
      "*.swp"
      "*.swo"
      "*.pyc"
      ".env.*"
      "__pycache__"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/phil/Projects/personal"
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "solarized-light-syntax"
    ]
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "django"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 10
    invisibles:
      tab: "▸"
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "619f9c36-fe0f-6f6b-67df-ba795291539b"
  "fuzzy-finder": {}
  "linter-js-standard": {}
  "linter-pep8": {}
  "linter-sass-lint": {}
  "linter-tidy": {}
  "linter-ui-default": {}
  "linter-xo":
    fixOnSave: true
  "markdown-preview":
    useGitHubStyle: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    supportedFiletypes: [
      "css"
      "sass"
      "less"
      "scss"
    ]
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  "vim-mode-plus":
    blackholeRegisteredOperators: [
      "delete*"
    ]
    useClipboardAsDefaultRegister: false
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    preferredLineLength: 79
    tabLength: 2
".console.python.text":
  editor:
    preferredLineLength: 79
".css.source":
  editor:
    tabLength: 2
".django.html.text":
  editor:
    tabLength: 2
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 79
".js.regexp.source":
  editor:
    preferredLineLength: 79
".js.source":
  editor:
    preferredLineLength: 79
    tabLength: 2
".json.source":
  editor:
    tabLength: 2
".python.regexp.source":
  editor:
    preferredLineLength: 79
".python.source":
  editor:
    preferredLineLength: 79
".python.text.traceback":
  editor:
    preferredLineLength: 79
".sass.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    preferredLineLength: 79
    tabLength: 2
".text.twig":
  editor:
    tabLength: 2
