packages: [
  "busy-signal"
  "color-picker"
  "django-templates"
  "emmet"
  "ex-mode"
  "file-icons"
  "intentions"
  "linter"
  "linter-pycodestyle"
  "linter-sass-lint"
  "linter-tidy"
  "linter-ui-default"
  "linter-xo"
  "package-sync"
  "pigments"
  "relative-numbers"
  "tabs-to-spaces"
  "trailing-spaces"
  "tree-view-git-status"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
  "vim-mode-zz"
]
